<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>ACLO Lustrumloop support</title>
    <meta name="description" content="ACLO Lustrumloop support" />
    <meta name="author" content="Tom van Nes" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./views/style.support.css" />
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-157585973-2"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-157585973-2");
    </script>
  </head>
  <body>
    <h1>
      ACLO Lustrumloop Support
    </h1>
    <img src="../assets/aclo_logo.png" alt="A logo" srcset="" />
    <div class="container">
      <details>
        <summary>How do I register?</summary>
        <p>
          Using the email address you provided to us during sign up, register
          with a safe password. On completion, it will take you back to the
          login screen.
        </p>
      </details>
    </div>
    <div class="container">
      <details>
        <summary>How do I start?</summary>
        <p>
          In the "Match" tab, press start. Make sure not to lock your screen.
        </p>
      </details>
    </div>
    <div class="container">
      <details>
        <summary>Where do I see other teams speed?</summary>
        <p>
          In the "Standings tab!" tab.
        </p>
      </details>
    </div>
    <div class="container">
      <details>
        <summary>How is the winner determined?</summary>
        <p>
          The winner is based on average team speed.
        </p>
      </details>
    </div>
    <div class="container">
      <details>
        <summary>More questions?</summary>
        <p>Contact me @ <a href="mailto:">development.nes@gmail.com</a></p>
      </details>
    </div>

    <!-- SCRIPTS -->
    <!-- Example: <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
  </body>
</html>
